html{

  }

  body{
    background-image: url('https://dncache-mauganscorp.netdna-ssl.com/thumbseg/2163/2163799-bigthumbnail.jpg');
    background-size: cover;
    color: FFFF00
  }

  h1, h2{
    text-align: center;
  }
